* {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    list-style: none;
}

.header {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #fff;
    max-height: 100px;
    height: 70px;
    color: #f0f0f0;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

.fa-bars {
    color: #f0f0f0;
    font-size: 30px;
    cursor: pointer;
}

.nav-bar { 
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 5px;
}

.nav-items {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-items li a {
    color: #f0f0f0;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
}

.footer {
    background-color: #333;
    color: #f0f0f0;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    left: 0;
}

#mobile-menu {
    display: none;
    cursor: pointer;
    transition: left 0.3s ease;
}

#close-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-right: 5px;
}

.container {
    margin-top: 70px;
    margin-bottom: 60px;
}

.hero {
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .nav-bar{
        display: none;
    }

    #mobile-menu {
        display: block;
        position: fixed;
        top: 10px;
        right: 0;
        cursor: pointer;
        margin: 10px;
        cursor: pointer;
        flex-direction: column;
    }

    .nav-items li {
        margin-bottom: 5px;   
    }

    .nav-items li a {
        text-decoration: none;
        color: #f0f0f0;
        font-weight: bolder;
    }

    .show-hide-menu {
        display: block;
        position: fixed;
        top: 55px;
        left: 0;
        cursor: pointer;
        background-color: #333;
        width: 100%;
        height: 40vh;
        z-index: 100;
        padding-left: 20px;
        transition: left 0.3s ease;

        transition: left 0.5s ease; /* Apply transition effect */
        animation: slideInMenu 0.5s ease; /* Apply animation effect */
        animation-fill-mode: forwards; /* Maintain the final state of the animation */
    } 

    .container {
        flex-direction: column;
        align-items: start;
        width: 100%;
        gap: 50px;
     }



    @keyframes slideInMenu {
        from {
            left: -100%;
        }
        to {
            left: 0;
        }
}


}