* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #fff;
    max-height: 100px;
    height: 70px;
    color: #f0f0f0;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    
}

.fa-bars {
    color: #f0f0f0;
    font-size: 30px;
    cursor: pointer;
}


.nav-bar { 
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 5px;
}

.nav-items {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-items li a {
    color: #f0f0f0;
    text-decoration: dashed;
    font-weight: bolder;
}


.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}

.page-intro {
    height: 100px;
    text-align: center;
    margin: 100px auto;
    width: 60%;
    height: 50vh;
    background-color: #f0f0f0;
}

.page-intro p {
    font-size: 20px;
    font-weight: 600;
}

.addtask {
    width: 100%;
    padding:20px 20px;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 65px auto;
    height: auto;
}

.footer {
    background-color: #333;
    color: #f0f0f0;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    left: 0;
}
/* 
.task-section {
    margin: 70px 0;
} */


.login {
    margin: 60px auto;
    padding: 5px;
}


.update-task {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    height: auto;
}

.task-details {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.task-details div {
    padding: 20px;
    margin-bottom: 30px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}

.cancel-button {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    

}


.cancel-button :hover {
    color: #fff;
}

.cancel-button a {
    text-decoration: none;
    color: #fff;
}


button {
    padding: 10px;
    background-color: blue;
    border: 1px solid blue;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}

button:hover {
    background-color: blue;
    color: #fff;
}

#task-count {
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: #000;
    
}

.background {
    background-color: #f0f0f0;

}

#mobile-menu {
    display: none;
    cursor: pointer;
    transition: left 0.3s ease;
}

#delete-container {
    width: 400px;
    height: 120px;
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

#h4 {
    color: #f0f0f0;
    margin: 10px;
    font-size: medium;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#close-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-right: 5px;

}

.container {
    margin-top: 70px;
    margin-bottom: 50px;
}

.btn-1 {
    width: 100%;
    margin-top: 2px;
    border: 2px solid #f0f0f0;
    
}



  
@media screen and (max-width: 768px) {
    .nav-bar{
        display: none;
    }

    #mobile-menu {
        display: block;
        position: fixed;
        top: 10px;
        right: 0;
        margin: 10px;
        cursor: pointer;
        flex-direction: column;
    }

    .nav-items li {
        margin-bottom: 5px;   
    }

    .nav-items li a {
        text-decoration: none;
        color: #f0f0f0;
        font-weight: bolder;
    }

    .show-hide-menu {
        display: block;
        position: fixed;
        top: 55px;
        right: 0;
        cursor: pointer;
        background-color: #333;
        width: 100%;
        height: 40vh;
        z-index: 100;
        padding-left: 20px;
        transition: left 0.3s ease;
    }
    
}

@media screen and (min-width: 768px){
    .addtask {
        width: 50%;
        margin: 70px auto;
    }
    

    .update-task {
        width: 50%;
    }

    .container1 {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .btn-1 {
        width: 40%;
    }
}