{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}


<section class="container mb-6 pb-4">
    <h1 class="bg-dark text-white">Add tasks</h1>
    <p>
        Add a new task to your list.
    </p>
    <form action="{% url 'addtask'%}" method="post">
        {% csrf_token %}
        {{form | crispy}}
       <div class="d-flex justify-content-between">
         <button type="submit" class="btn btn-primary">Add Task</button>
         <div class="btn btn-primary btn-sm"><a href="{% url 'yourtasks'%}"><span class="m-2 text-white">Cancel</a>
          </div>
       </div>

    </form>
    
</section>

{% endblock %}





