{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}


<section class="task-section addtask background">
    <h1>Add tasks</h1>
    <p>
        Add a new task to your list.
    </p>
    <form action="{% url 'addtask'%}" method="post">
        {% csrf_token %}
        {{form | crispy}}
       <div class="controls">
         <button type="submit" class="btn btn-primary">Add Task</button>
         <div class="cancel-button btn btn-primary"><a href="{% url 'yourtasks'%}">Cancel</a>
          </div>
       </div>

    </form>
    
</section>

{% endblock %}





