{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}


<section class="addtask">
    <h1>Add tasks</h1>
    <p>
        Add a new task to your list.
    </p>
    <form action="{% url 'addtask'%}" method="post">
        {% csrf_token %}
        {{form | crispy}}
       <div class="controls">
        <button type="submit">Add Task</button>
        <div class="cancel-button"><a href="{% url 'yourtasks'%}">Cancel</a>
       </div>
       </div>

    </form>
   
      
</section>

{% endblock %}