{% extends 'base.html' %}
{% load static %}
{% url 'account_login'%}




    {% block content%}


<section class="container">
    <div >
        <p>
            Welcome to the Task Manager. This is a simple application to manage daily your tasks.
            If you have an acount, you can login and start creating tasks and managing them.
        </p>

    </div>
    <p>
        <a href="{% url  'account_login'%}">login</a> to start creating tasks and managing them.
    </p>

    <div>

    </div>
</section>

{% endblock %}
    