{% extends 'base.html'%}
{% load static %}
{% block content%}


<section class="container d-flex justify-content-center align-items-center">
    <div class="container d-flex justify-content-between align-items-center hero-container">
        <div >
            <h1>Hi {% if user.first_name %}{{user.first_name | title}}{%else%}{{user.username | title}}{%endif%}</h1>
               {% if messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              {% for message in messages %}
              {{message}}
              {% endfor %}
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
              {% endif %}
            <p>Welcome to your task manager</p>
            <p>Here you can create, edit and delete tasks</p>
            <p>Pending Task <span class="badge text-bg-warning ms-3">{{pending}}</span></p>
            <p>Completed task <span class="badge text-bg-success ms-3">{{completed}}</span></p>
            <p>Click on the button below to get started</p>
            <a href="{% url 'yourtasks' %}" class="btn btn-primary">Get Started</a>
           </div>
           <div>
            <img src="{% static 'images/hero.jpg'%}" class="hero" alt="man working on a computer">
           </div>
    </div>
</section>

{% endblock %}
