{% extends 'base.html'%}
{% load static %}



{% block content %}

<section class="container">
    <div class="card w-100 h-auto" style="width: 18rem;">
        <h1>Task Details</h1>
        <div class="card-body">
          <h5 class="card-title"> {{ task.title }}</h5>
          <p class="card-text"><span class="badge text-bg-dark">Todo task: </span>{{ task.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge text-bg-dark">Date Started: </span> {{ task.created_on }}</li>
          <li class="list-group-item"><span class="badge text-bg-dark">Expected finish Date: </span>{{ task.due_date }}</li>
          <li class="list-group-item"><span class="badge text-bg-dark">Task by: </span> {{ task.user }}</li>
        </ul>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                 {{completed}}
                <button type="submit" class="btn btn-warning">Update Status</button>
            </form>
            <a class="btn btn-success" href="{% url 'yourtasks' %}">Back</a>
          
        </div>
      </div>
    
</section>

{% endblock %}


