{% extends 'base.html'%}
{% load static %}


{% block content %}
<section class="container w-100">
    <h1 class="bg-dark text-white text-center p-3">Task Details</h1>
    <div class="d-flex justify-content-end align-items-center">
        <a href="{% url 'yourtasks'%}" class="btn btn-primary btn-sm m-2">Back</a>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card ">
                <div class="card-body">
                    <p><span class="card-title">Title: </span> {{task.title}}</p>
                    <p class="card-text"><span>Description: </span> {{task.description}}</p>
                    <p class="card-text">Status: {% if task.completed %}Completed{% else %}Pending{% endif %}</p>
                    <p class="card-text">Due Date: {{task.due_date}}</p>
                    <p class="card-text">Created: {{task.created_on}}</p>
                    <form action="" method="post" class="w-100">
                        {% csrf_token %}
                        {{completed}}
                        <button type="submit" class="btn btn-success">Update Status</button>
                    </form>
                  </div>
              </div>
         </div>              
    </div>
    <div class="row">
    <div class="col-6">
          <a href="{% url 'edittask' task.id %}" ><button class="btn btn-primary m-2 m-s">Edit Task</button></a>
     </div>
     <div class="col-6">
        <a  href="{% url 'deletetask' task.id %}" onclick="return confirm('Are you sure you want to delete {{task.title}}?')"><button class="btn btn-primary m-2 m-s">Delete Task</button></a>
    </div>
    </div>
</section>



{% endblock %}


