{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<section class="container">
    <h1 class="bg-dark text-white w-50 mx-auto p-3">Edit Task</h1>
    <div class="d-flex justify-content-center">
        <form action="" method="post">
            {% csrf_token %}
            {{ edit_task|crispy}}
            <div class="controls">
            <button class="btn btn-success" type="submit">Update</button>
            <div class="btn btn-success"><a href="{% url 'yourtasks'%}">Cancel</a></div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
