{% extends 'base.html'%}
{% load static %}
{% block content %}


<section class="container ">
    <div class="row">
        <div class="col-md-12">
             <h1 class="bg-dark text-white mx-auto">Your Profile</h1>
            <div class="card vh-75">
                <div class="card-body">
                    <h5 class="card-title">User Details</h5>
                    <p class="card-text">Username: {{user.username}}</p>
                    <p class="card-text">Email: {{user.email}}</p>
                    <p class="card-text">First Name: {{user.first_name}}</p>
                    <p class="card-text">Last Name: {{user.last_name}}</p>
                    <p class="card-text">Date Joined: {{user.date_joined}}</p>
                    <p class="card-text">Completed Task: {{completed}}</p>
                    <p class="card-text">Pending task: {{pending}}</p>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'yourtasks'%}" class="btn btn-primary btn-sm m-2">Back</a>
</section>

{% endblock %}