{% extends 'base.html' %}
{% load static %}
{% block content%}

<section class="container">
  <h1 class="bg-dark text-white mx-auto text-center">Your tasks</h1>
  {% if messages %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    {% for message in messages %}
    {{message}}
    {% endfor %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}

  <div class="table-responsive caption-top">
    <table class="table table-primary table-striped-columns table-borderless">
      <thead class="table-dark">
        <tr>
          <th scope="col" >Title</th>
          <th scope="col" >Details</th>
          <th scope="col" >Status</th>
          <th scope="col" >Priority</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% if tasks.count == 0 %}
        <tr>
          <td colspan="5" class="table-active align-middle text-center" style="height: 300px; font-size: 30px; color: brown;">You do not currently have any task.</td>
        </tr>
        {% else %}
        {% for task in tasks %}
            <tr>
              <td>{{ task.title }}</td>
              <td><a href="{% url 'taskdetails' task.id %}" class="btn btn-success btn-sm ">View</a></td>
              <td class="{%if task.completed%}text-success{%endif%}">{% if task.completed %}Completed{%else%}Pending{% endif %}</td>
              <td class="{% if task.priority == 'Urgent'%}text-danger{%endif%}{% if task.priority == 'High'%}text-warning {%endif%} {%if task.completed%}text-decoration-line-through{%endif%}">
                {{ task.priority }}
              </td>
              <td class="d-flex align-items-center justify-content-evenly" >
                <a href="{% url 'edittask' task.id %}" class="fs-3 mx-2"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="{% url 'deletetask' task.id %}" class="fs-3{% if task.completed%}btn btn-danger{%endif%}" onclick="return confirm('Are you sure you want to delete {{task.title}}?')">{%if task.completed%}<i class="fa-solid fa-trash "></i>{%endif%}</a>
            </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
</section>


{% endblock %}

