{% extends 'base.html' %}
{% load static %}
{% block content%}

 <section class="task-section background">
  <div id="task-count">
    <div >
      <h1>Pending Tasks</h1>
    </div>
  </div>
  <div class="table-responsive caption-top">
       <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Details</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          
          </tr>
        </thead>
       
        <tbody class="table-group-divider">
          
          {% for task in tasks %}
          {% if task.user == user and not task.completed  %}
         
            <tr>
              <th scope="row">#</th>
              <td>{{ task.title }}</td>
              <td><a href="{% url 'taskdetails' task.id %}" class="btn btn-success btn-sm ">View</a></td>
              <td>{% if not task.completed %}Pending{% endif %}</td>
              <td><span><a href="{% url 'updatetask' task.id %}" class="btn btn-warning btn-sm">Update</a></span> <span ><a class="btn btn-danger btn-sm" href="{% url 'deletetask' task.id %}" onclick=" return confirm('Are you sure you  want to delete  '+'  {{task.title}}?')">Delete</a></span></td>
            </tr>
          {% endif %}
          {% endfor %}

        </tbody>      
      </table>
  </div>
   
      
 </section>

{% endblock %}

