{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <title>Task Manager</title>
</head>
<body>

    <header class="header">
        <h1>Task Manager</h1>
        <div id="mobile-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <nav class="nav-bar ">
            <ul class="nav-items">
                {% if user.is_authenticated %}
                <li> <a href="{% url 'into'%}">Home</a></li>                
                <li> <a href="{% url 'yourtasks'%}">Pending Tasks</a></li>
                <li> <a href="{% url 'completedtask'%}">Completed Task</a></li>
                <li><a href="{% url 'addtask'%}">Add Task</a></li>
                <li><a href="{% url  'account_logout'%}">Logout</a></li>
                <li>Welcome <a href="{% url 'userprofile'%}">{{user}}</a></li>
                {% else %}
                <li><a href="{% url 'home'%}">Home</a></li>
                <li><a href="{% url 'account_login'%}">Login</a></li>
                <li><a href="{% url 'register'%}">Register</a></li>
                
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>

        {% block content%}
        {% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; 2024 Task Manager</p>
    </footer>
    <script src="{% static 'jscript/script.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
</body>
</html>