
{% extends 'base.html'%}
{% load static %}
{% block content%}




<section class="container">
    {% if messages %}
             <div class="alert alert-info alert-dismissible fade show" role="alert">
              {% for message in messages %}
              {{message}}
              {% endfor %}
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
             </div>
              {% endif %}
    <div class="row">
          <div class="col-sm-6">
             <h1 class="p-3">Hi {{username}}</h1>
              
            <h1>Reset Your Password</h1>
            <form method="post">
                {% csrf_token %}
                {{password_form.as_p}}
                <button type="submit" class="btn btn-primary btn-sm m-2">Reset Password</button>
            </form>
</div>
</section>

{% endblock %}