{% extends 'base.html'%}
{% load static %}
{% block content%}

<section class="container">
   
    <div class="row">
        {% if messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
         {% for message in messages %}
         {{message}}
         {% endfor %}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
         {% endif %}
        <h2 class="p-3">Check Username</h2>
        
          <div class="col-sm-6">
           
            <p>Enter the username to identify yourself.</p>
          <form method="post">
            {% csrf_token %}
                {{ username_form.as_p }}
                <button type="submit" class="btn btn-primary btn-sm m-2">Check Username</button>
          </form>
</div>
</section>
    
    {% endblock %}