* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #fff;
    max-height: 100px;
    height: 70px;
    color: #f0f0f0;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    
}
.nav-bar { 
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 5px;
   
}

.nav-bar ul {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
}


.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}

.page-intro {
    height: 100px;
    text-align: center;
    margin: 100px auto;
    width: 60%;
    height: 50vh;
    background-color: #f0f0f0;
}

.page-intro p {
    font-size: 20px;
    font-weight: 600;
}

.addtask {
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    height: auto;
}
.no-task {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer {
    background-color: #333;
    color: #f0f0f0;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    left: 0;
}

.task-section {
    margin-top: 100px;
}


.login {
    margin: 100px auto;
}


.update-task {
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    height: auto;
}

.task-details {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
  
@media screen and (min-width: 368px) {
    .footer {
        bottom: 0;
        width: 100%;

    }
    
}